@import "./base/variables";
/*estilos contacto*/
/*ejemplo extend*/
.main__form {
    background-image: url(../assets/imagenes/galeria6-vertical.jpg);
    width: 100%;
    object-fit: cover;
    overflow-y: hidden;
    min-height: 100vh
}
.form__contact{
    @extend %formulario;
    font-size: 30px;
    margin: 50px;

}
.card__title--form{
    @extend %formulario;
    font-size: 50px;
    margin:20px;
}

.buttom__send {
    background-color: rgb(235, 210, 154);
    width: 100px;
    height: 30px;
    border-radius: 10%;
    font-family: 'Red Hat Display', sans-serif;
    border: none;
    font-size: 20px;
}
.nombre{
    padding-left: 140px;
    width: 100%;
}
.mail{
<<<<<<< HEAD
    padding-left: 135px;
=======
    padding-left: 140px;
>>>>>>> f5f43e4e097ee44b8082892690d926e4b2bce487
    width: 100%;
}
.mensaje{
    padding-left: 330px;
}
.form__textarea {
    width: 330px;
    height: 100px;
    margin-right: 60px;
}
/*fin estilos contacto*/
