@media only screen and (max-width:450px) {

    /*clases del nav*/
    .header__logo--img {
        width: 100px;
        height: 100px;
        margin: 20px;
        margin-left: 70px;
    }
    .nav__list--item {
        font-size: 15px;
        margin: 10px;
        padding-right: 20px;

    }
    /*main*/
    .card__img--1 {
        width: 100%;
    }
    .card__title {
        width: 100%;
        text-align: center;
    }
    .card__introduction {
        width: 100%;
        text-align: justify;
        font-size: 0.9em;
        overflow-y: hidden;
    }
    .section__img--2 {
        width: 100%;
        padding-top: 30px;
    }
    /*seccion grid*/
    .section__grid {
        grid-template-areas:
            "img"
            "title"
            "logo"
            "txt"
        ;
        justify-items: center;
    }
    .img__grid {
        grid-area: img;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .logo__ep--grid {
        grid-area: logo;
        width: 50%;
        margin-left: 20px;
    }
    .card__title--grid {
        font-size: 30px;
    }
    .card__description--grid {
        font-size: 1em;
        padding: 10px;
        width: 60%;
        text-align: justify;
    }
    /*fin index grid*/
    /*footer*/
    .footer__section--socialmedia{
        overflow-x: hidden;
    }
    .footer__icon--socialmedia{
        width: 90%;
    }
    .footer_list{
        padding-top: 10px;
    }
    .footer__icon--socialmedia {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
    /*musica*/
    .section__spotify {
        background-image: none;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }
    .container__img--cover {
        display: none;
    }
    .container__spotify {
        display: flex;
        width: 70%;
        padding: 10px;

    }
    .container__aside--spotify {
        display: none;
    }
    .card__title--spotify {
        display: none;
    }
    .icon__spotify {
        display: none;
    }
    /*youtube*/
    .card__title--youtube {
        font-size: 20px;
        width: 90%;
        margin-left: 16px;
   }
    .container__video--youtube {
        width: 80%;
        padding-left: 25px;
    }
    /*seccion grid music*/
.section__musica--grid {
    display: grid;
    grid-template-areas:
    "title"
    "txt"
    "logo"
    "clip1"
    "clip2"
    ;
    gap: 10px;
    justify-items: center;
    padding-right:25px ;
}
.title__musica--grid {
    font-size: 25px;
    width: 70%;
    text-align: start;
}
.text__grid {
    grid-area: txt;
    font-size: 15px;
    text-align: justify;
    width: 70%;
    margin-left: 25px;
}
.logo__idp--grid {
    grid-area: logo;
    width: 50%;
    height: 120px;
}
.video__idp--1 {
    grid-area: clip1;
    width: 70%;
    height: 150px;
}
.video__idp--2 {
    grid-area: clip2;
    width: 70%;
    height: 150px;
}
/*fin estilos grid musica*/
 /*galeria*/
 .section__gallery {
    display: grid;
    grid-template-areas:
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis"
    "siete"
    "ocho"
    "nueve"
    "diez"
    "once"
    "doce"
    ;
    gap: 10px;
    justify-items: center;
}
.card__img--gallery {
    width: 90%;
    margin-right: 10px;
}
/*blog*/
.section__blog {
    padding: 5px;
}
.blog__grid {
    display: grid;
    grid-template-areas:

        "title1" 
        "txt1"   
        "clip1"
        "title2"   
        "txt2"   
        "clip2";
}
.title1{
    grid-area: title1;
}
.txt1{
    grid-area: txt1;
}
.clip1{
    grid-area: clip1;
}
.title2{
    grid-area: title2;
}
.txt2{
    grid-area: txt2;
}
.clip2{
    grid-area: clip2;
}

.article__blog {
    display: flex   ;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
    width: 100%;
}
.card__title--blog {
    font-size: 20px;
    padding: 10px;
    width: 90%;
}
.card__description {
    font-size: 15px;
    width: 90%;
    padding: 20px;
    text-align: justify;
}
.container__video--blog {
    width: 100%;
    height: 300px;
    padding: 30px;
}
/*fin estilos blog*/
/*contacto*/
.main__form {
    background-image: none;
    background-color: rgb(28, 26, 26);
    width:100%;
    height:100%;
    object-fit: cover;
}
.card__title--form{
    font-size: 30px;
}
.form__contact {
    font-size: 15px;
}
.nombre{
    padding: 10px;
}
.mail{
    padding: 20px;
    margin-left: 0px;

}
.mensaje{
    padding-left:35px;
    padding-top: 5px;
    width: 100%;
}
.form__textarea{
    width: 150px;
    height: 250px;
}
.buttom__send{
    margin: 15px    ;
}

}

/*fin contacto*/
