@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Permanent+Marker&family=Poppins:ital,wght@1,200&family=Red+Hat+Display&family=Roboto:ital,wght@0,300;0,500;1,100&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*font-family: 'Grape Nuts', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Mono', monospace;*/
/* aca comienzan las clases del index */
/* clases del header*/
.header__section {
    background-color: rgb(86, 81, 81);
    display: flex;
    flex-wrap: wrap;
}

.header__logo--img {
    width: 150px;
    height: 150px;
    background-color: rgb(235, 210, 154);
    border-radius: 50%;
    margin: 20px;
    margin-left: 70px;
}

.header__bar--nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav__list{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.link-light{
    color: rgb(235, 210, 154);
}
.efecto__nav:hover{
    transform: scale(1.1);
 }

.nav__list--item{
    font-family: 'Red Hat Display', sans-serif;
    color:rgb(232, 219, 190);
    font-size: 30px;
    text-decoration: none;
}
/*fin clases del header*/
/*clases del main del index*/
.main__section {
    display: flex;
    flex-wrap: wrap;
}

.main__section--video {
    background-color: rgb(28, 26, 26);
    margin: 0%;
    padding: 0%;
}

.container__video {
    width: 100%;
    object-fit: cover;
}

.main__section--description {
    background-color: rgb(28, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.card__img--1 {
    width: 25%;
    /*border-radius: 50%;*/
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.card__title {
    color: rgb(235, 210, 154);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 6rem;
    width: 20%;
    text-align: center;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.card__introduction {
    color: rgb(232, 219, 190);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.1rem;
    width: 20%;
    text-align:justify;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
}

.section__img--2 {
    width: 25%;
    /*border-radius: 50%;*/
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

/*seccion de index grid*/
.section__grid {
    background-color: rgb(28, 26, 26);
    display: grid;
    grid-template-areas:
        "img img img"
        "logo title title"
        "logo txt txt"
    ;
    justify-items: left;
}

.img__grid {
    grid-area: img;
    width: 100%;
    height: 800px;
    object-fit: cover;

}

.logo__ep--grid {
    grid-area: logo;
    width: 30vw;
    padding: 50px;
    margin: 20px;
    margin-left:100px;
    background-color: rgb(235, 210, 154);
}

.card__title--grid {
    grid-area: title;
    background-color: rgb(28, 26, 26);
    width: 80%;
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 50px;
    color: rgb(235, 210, 154);
    padding: 10px;
}

.card__description--grid {
    grid-area: txt;
    background-color: rgb(28, 26, 26);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5em;
    color: rgb(235, 210, 154);
    padding: 10px;
    width: 60%;
    text-align: justify;

}

/*fin clases index grid*/
/*fin clases main*/
/*clases del footer*/
.footer__section--socialmedia {
    background-color: rgb(28, 26, 26);
    display: flex;
    justify-content: center;
}

.footer_list {
    display: flex;
    list-style: none;
    padding-right: 50px;
    padding-top: 10px;
}

.footer__list--item {
    margin: 5px;
    padding: 5px;
}

.footer__icon--socialmedia {
    width: 70px;
    height: 70px;
    background-color: rgb(235, 210, 154);
    border-radius: 50%;
    padding: 10px;
}

/*fin clases footer*/
/*clases de musica*/
/*seccion de spotify*/
.section__spotify {
    background-image: url(../assets/imagenes/galeria9-horizontal.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container__img--cover {
    display: flex;
    width: 20%;
    height: 40%;
    margin: 50px;
    padding: 0px;
    margin-right: 220px;
    object-fit: cover;

}

.container__spotify {
    display: flex;
    width: 30%;
    padding-right: 20px;
    margin: 0 auto;
}

.container__aside--spotify {
    display: flex;
    margin-left: 50px;
}

.card__title--spotify {
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 35px;
    color: rgb(28, 26, 26);
    width: 40%;
    text-align: center;
    align-items: center;
    font-weight: 800;
}

.icon__spotify {
    display: flex;
    width: 100px;
    margin-top: 120px;
    padding-right: 40px;
    padding-left: 10px;
}
/*fin seccion spotify*/
/*seccion youtube*/
.section__youtube {
    background-color: rgb(28, 26, 26);
    width: 100%;
}
.card__title--youtube {
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(235, 210, 154);
    width: 100%;
    height: 20vh;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__video--youtube {
    width: 30%;
    margin: 10px;
    margin-left: 25px;
}

/*seccion grid music*/
.section__musica--grid {
    display: grid;
    grid-template-areas:
        " title txt logo"
        " clip1 txt clip2"
        " clip1 txt clip2"
    ;
    background-color: rgb(28, 26, 26);
    justify-items: center;
    padding: 20px;
    padding-bottom: 50px;
    padding-right: 50px;

}

.title__musica--grid {
    grid-area: title;
    background-color: rgb(28, 26, 26);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2.8em;
    color: rgb(235, 210, 154);
    width: 60%;
    height: 75%;
    background-color: rgb(86, 81, 81);
    padding: 25px;
    align-self: center;
    text-align: center  ;
}

.text__grid {
    grid-area: txt;
    background-color: rgb(86, 81, 81);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2em;
    color: rgb(235, 210, 154);
    width: 70%;
    text-align: justify;
    height: fit-content;
    margin-top: 60px;
    margin-right: 30px;
    padding:10px

}

.logo__idp--grid {
    grid-area: logo;
    width: 25vw;
    height: 70%;
    background-color: rgb(28, 26, 26);
    margin: 20px;
    margin-top: 60px;
}

.video__idp--1 {
    grid-area: clip1;
    width: 350px;
    height: 100%;
}

.video__idp--2 {
    grid-area: clip2;
    width: 350px;
    height: 100%;
}

/*fin estilos grid musica*/
/*estilos galeria*/
.section__gallery {
    background-color: rgb(235, 210, 154);
    padding: 10px;
    padding-left: 30px;
    display: grid;
    grid-template-areas:
        "uno dos tres cuatro"
        "cinco seis siete ocho"
        "nueve diez once doce"
    ;
    gap: 20px;
}
.img1 {
    grid-area: uno;
}
.img2 {
    grid-area: dos;
}
.img3 {
    grid-area: tres;
}
.img4 {
    grid-area: cuatro;
}
.img5 {
    grid-area: cinco;
}
.img6 {
    grid-area: seis;
}
.img7 {
    grid-area: siete;
}
.img8 {
    grid-area: ocho;
}
.img9 {
    grid-area: nueve;
}
.img10 {
    grid-area: diez;
}
.img11 {
    grid-area: once;
}
.img{
    grid-area: doce;
}
.card__img--gallery {
    width: 300px;
    object-fit: cover;
}
/*fin estilos galeria*/
/*estilos blog random*/
.section__blog {
    background-color: rgb(28, 26, 26);
    border: solid rgb(235, 210, 154);
    padding: 5px;
    display: flex;
}
.card__title--blog {
    color: rgb(132, 242, 242);
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    background-color: rgb(86, 81, 81);
        text-align: left;
    padding: 5px;
    width: 90%;
    margin: 5px;
}
.card__description {
    background-color: rgb(86, 81, 81);
    color: rgb(235, 210, 154);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    width: 90%;
    height: fit-content;
    padding-right: 40px;
    margin: 3px;
    text-align: left;
}
.container__video--blog {
    width:80%;
    height: 400px;
    padding-left: 50px;
}
/*fin estilos blog*/
/*estilos contacto*/
.main__form {
    background-image: url(../assets/imagenes/galeria6-vertical.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-y: hidden;
}
.card__title--form {
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(132, 242, 242);
    text-align: center;
    font-size: 50px;
    margin:20px;
}
.form__contact {
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(132, 242, 242);
    text-align: center;
    font-size: 30px;
    margin: 50px;
}
.buttom__send {
    background-color: rgb(235, 210, 154);
    width: 100px;
    height: 30px;
    border-radius: 10%;
    font-family: 'Red Hat Display', sans-serif;
    border: none;
    font-size: 20px;
}
.nombre{
    padding-left: 140px;
    width: 100%;
}
.mail{
    padding-left: 170px;
    width: 100%;
}
.mensaje{
    padding-left: 330px;
}
.form__textarea {
    width: 330px;
    height: 100px;
    margin-right: 60px;
}
/*fin estilos contacto*/
@media only screen and (max-width:768px) {
   /*main*/
   .nav__list--item{
    font-size: 22px;
    text-align: center;
   }
    .card__img--1 {
        width: 100%;
        height: 600px;
    }
    .card__title {
        width: 50%;
        text-align:center;
        font-size: 80px;
        padding-left: 15px;
    }
    .card__introduction {
        width: 50%;
        text-align: justify;
    }
    .section__img--2 {
      display: none;
    }
    /*seccion grid*/
    .section__grid {
        grid-template-areas:
            "img"
            "title"
            "logo"
            "txt"
        ;
        justify-items: center;
    }
    .img__grid {
        grid-area: img;
        width: 100vw;
        height: 400px;
        object-fit: cover;
    }
    .logo__ep--grid {
        grid-area: logo;
        width: 50vw;
        padding: 10px;
        margin: 20px;
        margin-left: 40px;
    }
    .card__title--grid {
        font-size: 30px;
    }
    .card__description--grid {
        font-size: 20px;
        padding: 10px;
        width: 90%;
    }
    /*fin index grid*/
    /*footer*/
    .footer_list{
        padding-left: 50px;
    }
    .footer__icon--socialmedia {
        width: 55px;
        height: 55px;
    }
    /*musica*/
    .section__spotify {
        background-color: rgb(28, 26, 26);
        background-image: none;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }
    .container__img--cover {
        display: none;
    }
    .container__spotify {
        display: flex;
        width: 90%;
        padding-left: 20px;
    }
    .container__aside--spotify {
        display: none;
    }
    .card__title--spotify {
        display: none;
    }
        .icon__spotify {
        display: none;
    }
    /*youtube*/
    .card__title--youtube {
        font-size: 30px;
   }
    .container__video--youtube {
        width: 90%;
        padding-left: 10px;
    }
    /*seccion grid music*/
.section__musica--grid {
    display: grid;
    grid-template-areas: 
    "title"
    "txt"
    "logo"
    "clip1"
    "clip2";
    justify-items: center;
    gap: 10px;
}
.title__musica--grid {
    font-size: 40px;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    margin-left: 20px;
}
.text__grid {
    grid-area: txt;
    font-size: 25px;
    color: rgb(235, 210, 154);
    width: 100%;
    text-align: justify;
    height: fit-content;
    margin-top: 30px;
    margin-right: 0px;
    padding:30px;
}
.logo__idp--grid {
    grid-area: logo;
    width: 50vw;
    height: 75%;
    margin: 20px;
    margin-top: 30px;
    padding-left: 20px;
}
.video__idp--1 {
    grid-area: clip1;
    width: 80vw;
    height: 400px;
    padding-left: 20px;
}
.video__idp--2 {
    grid-area: clip2;
    width: 80vw;
    height: 400px;
    padding-left: 20px;
}
/*fin estilos grid musica*/
 /*galeria*/
 .section__gallery {
    padding: 20px;
    padding-left: 40px;
    display: grid;
    grid-template-areas:
    "uno dos"
    "tres cuatro"
    "cinco seis"
    "siete ocho"
    "nueve diez"
    "once doce"
    ;
    gap: 3px;
}
.card__img--gallery {
    width: 45vw;
    object-fit: cover;
}
/*blog*/
.section__blog {
    border: solid rgb(235, 210, 154);
    padding: 5px;
}
.article__blog {
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
}
.card__title--blog {
    font-size: 20px;
    width: 100%;
}
.card__description {
    font-size: 15px;
    width: 100%;
    text-align: justify;
}
.container__video--blog {
    width: 100%;
    height: 300px;
    padding-right: 40px;
}
/*fin estilos blog*/
/*estilos contacto*/
}
.nombre{
    padding-right: 85px;
}
.mail{
    padding-right: 80px;
}
.mensaje{
    padding-left: 115px;
}
.form__textarea{
    width: 330px;
    height: 200px;
}   
@media only screen and (max-width:450px) {

    /*clases del nav*/
    .header__logo--img {
        width: 100px;
        height: 100px;
        margin: 20px;
        margin-left: 70px;
    }
    .nav__list--item {
        font-size: 15px;
        margin: 10px;
        padding-right: 20px;

    }
    /*main*/
    .card__img--1 {
        width: 100%;
    }
    .card__title {
        width: 100%;
        text-align: center;
    }
    .card__introduction {
        width: 100%;
        text-align: justify;
        font-size: 1em;
        overflow-y: hidden;
    }
    .section__img--2 {
        width: 100%;
        padding-top: 30px;
    }
    /*seccion grid*/
    .section__grid {
        grid-template-areas:
            "img"
            "title"
            "logo"
            "txt"
        ;
        justify-items: center;
    }
    .img__grid {
        grid-area: img;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .logo__ep--grid {
        grid-area: logo;
        width: 50%;
        margin-left: 20px;
    }
    .card__title--grid {
        font-size: 30px;
    }
    .card__description--grid {
        font-size: 1em;
        padding: 10px;
        width: 60%;
        text-align: justify;
    }
    /*fin index grid*/
    /*footer*/
    .footer__section--socialmedia{
        overflow-x: hidden;
    }
    .footer__icon--socialmedia{
        width: 90%;
    }
    .footer_list{
        padding-top: 10px;
    }
    .footer__icon--socialmedia {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
    /*musica*/
    .section__spotify {
        background-image: none;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }
    .container__img--cover {
        display: none;
    }
    .container__spotify {
        display: flex;
        width: 70%;
        padding: 10px;

    }
    .container__aside--spotify {
        display: none;
    }
    .card__title--spotify {
        display: none;
    }
    .icon__spotify {
        display: none;
    }
    /*youtube*/
    .card__title--youtube {
        font-size: 20px;
        width: 90%;
        margin-left: 16px;
   }
    .container__video--youtube {
        width: 80%;
        padding-left: 25px;
    }
    /*seccion grid music*/
.section__musica--grid {
    display: grid;
    grid-template-areas:
    "title"
    "txt"
    "logo"
    "clip1"
    "clip2"
    ;
    gap: 10px;
    justify-items: center;
    padding-right:25px ;
}
.title__musica--grid {
    font-size: 25px;
    width: 70%;
    text-align: start;
}
.text__grid {
    grid-area: txt;
    font-size: 15px;
    text-align: justify;
    width: 70%;
    margin-left: 25px;
}
.logo__idp--grid {
    grid-area: logo;
    width: 50%;
    height: 120px;
}
.video__idp--1 {
    grid-area: clip1;
    width: 70%;
    height: 150px;
}
.video__idp--2 {
    grid-area: clip2;
    width: 70%;
    height: 150px;
}
/*fin estilos grid musica*/
 /*galeria*/
 .section__gallery {
    display: grid;
    grid-template-areas:
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis"
    "siete"
    "ocho"
    "nueve"
    "diez"
    "once"
    "doce"
    ;
    gap: 10px;
    justify-items: center;
}
.card__img--gallery {
    width: 90%;
    margin-right: 10px;
}
/*blog*/
.section__blog {
    padding: 5px;
}
.blog__grid {
    display: grid;
    grid-template-areas:

        "title1" 
        "txt1"   
        "clip1"
        "title2"   
        "txt2"   
        "clip2";
}
.title1{
    grid-area: title1;
}
.txt1{
    grid-area: txt1;
}
.clip1{
    grid-area: clip1;
}
.title2{
    grid-area: title2;
}
.txt2{
    grid-area: txt2;
}
.clip2{
    grid-area: clip2;
}

.article__blog {
    display: flex   ;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
    width: 100%;
}
.card__title--blog {
    font-size: 20px;
    padding: 10px;
    width: 90%;
}
.card__description {
    font-size: 15px;
    width: 90%;
    padding: 20px;
    text-align: justify;
}
.container__video--blog {
    width: 100%;
    height: 300px;
    padding: 30px;
}
/*fin estilos blog*/
/*contacto*/
.main__form {
    background-image: none;
    background-color: rgb(28, 26, 26);
    width:100%;
    height:100%;
    object-fit: cover;
}
.card__title--form{
    font-size: 30px;
}
.form__contact {
    font-size: 15px;
}
.nombre{
    padding: 10px;
}
.mail{
    padding: 20px;
    margin-left: 10px;

}
.mensaje{
    padding-left:35px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
}
.form__textarea{
    width: 250px;
    height: 100px;
}
.buttom__send{
    margin: 15px    ;
}

}

/*fin contacto*/
/*prueba en rama*/


